<%= form_with model: @patient, local: true do |form| %>
 
  <% if @patient.errors.any? %>
    <div>
      <h2>
        <%= t('patients.form.error_message') %>
      </h2>
      <ul>
        <% @patient.errors.full_messages.each do |msg| %>:
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= t('activerecord.attributes.patient.name') %>:
    <br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= t('activerecord.attributes.patient.last_name') %>:
    <br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= t('activerecord.attributes.patient.run') %>:
    <br>
    <%= form.text_field :run %>
  </p>

  <p>
    <%= t('activerecord.attributes.patient.birth_date') %>:
    <br>
    <%= form.date_field :birth_date, max: Time.now %>
  </p>
 
  <p>
    <%= form.submit nil, class: 'button full-width' %>
  </p>
 
<% end %>