<div class="patient-details">
  <h2><%= "#{t('activerecord.models.patient.one')} #{@patient.full_name}" %></h2>

  <div>
    <h3><%= t('activerecord.attributes.patient.name') %></h3>
    <p><%= @patient.name %></p>
  </div>

  <div>
    <h3><%= t('activerecord.attributes.patient.last_name') %></h3>
    <p><%= @patient.last_name %></p>
  </div>

  <div>
    <h3><%= t('activerecord.attributes.patient.run') %></h3>
    <p><%= @patient.run %></p>
  </div>

  <div>
    <h3><%= t('activerecord.attributes.patient.birth_date') %></h3>
    <p><%= @patient.birth_date.strftime("%d/%m/%y") %></p>
  </div>

  <div>
    <h3><%= t('activerecord.attributes.patient.age') %></h3>
    <p><%= @patient.age %></p>
  </div>

  <div class="actions">
    <%= link_to t('common.edit'), edit_patient_path(@patient), class: 'primary-button' %>
    | 
    <%= link_to t('common.delete'), patient_path(@patient), method: :delete, class: 'primary-button' %>  
  </div>
</div>

<div class="patient-details">
  <%= render partial: "vaccinations/index", locals: {patient: @patient} %>
</div>

<div>
  <%= link_to t('common.back'), patients_path, class: 'primary-button' %>
</div>