<!DOCTYPE html>
<html>
  <head>
    <title>Vacunacion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div id="title">
        <%= link_to t('common.main_title'), patients_path %>
      </div>
      <div id="nav">
        <div class="nav-button"><%= link_to t('patients.new.title'), new_patient_path %></div>
        <div class="nav-button"><a href="/"><%= t('common.assistance') %></a></div>
        <div class="nav-button"><a href="/"><%= t('common.about') %></a></div>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <%= t('common.footer') %>
    </div>
  </body>
</html>
